<div class="modal-header">
    <button class="close" data-dismiss="modal">
        <span>&times;</span>
    </button>
    <h4 class="modal-title">{{ trans('module::message.choose_country') }}</h4>
</div>

<div class="modal-body">

    <ul class="nav nav-pills nav-stacked">
        {% for iso in common %}
            <li class="nav-item">
                <a href="{{ url_to('admin/taxes/states/create?country=' ~ iso) }}"
                   class="nav-link">
                    <strong>{{ countries[iso].name }}</strong>
                </a>
            </li>
        {% endfor %}
    </ul>

    <hr>

    <ul class="nav nav-pills nav-stacked">
        {% for iso, country in countries %}
            <li class="nav-item">
                <a href="{{ url_to('admin/taxes/states/create?country=' ~ iso) }}"
                   class="nav-link">
                    <strong>{{ country.name }}</strong>
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
