{% if template.tax %}
    <div class="card">
        <div class="card-block">

            <div class="media">
                <div class="media-body">

                    <h4 class="media-heading">
                        {{ template.tax.name }}

                        {% if template.tax.suffix.value %}
                            ({{ template.tax.suffix }})
                        {% endif %}
                        <br>
                        <small class="text-muted">{{ template.tax.description }}</small>
                    </h4>

                    <a href="/admin/taxes/edit/{{ template.tax.id }}">{{ trans('module::message.return_to_tax') }}</a>

                </div>
            </div>

        </div>
    </div>
{% endif %}